

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="../../favicon.ico">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css" >
    <!--link(rel="stylesheet",href="css/bootstrap.min.css")-->
    <!--	!-- Custom styles for this template ---->
    <link href="/stylesheets/style.css" rel="stylesheet">
  </head>
  <body data-spy="scroll" data-target=".scrollspy" background="https://s3-eu-west-1.amazonaws.com/pcs01.photocase.com/u/u4tgthqh/9st7d685/photocase9st7d6853.jpg?1451825400" 
  style="background-repeat: no-repeat;background-size: auto;background-size: 100% 100%;">
    <div class="site-wrapper">
      <div class="site-wrapper-inner">
        <div class="cover-container">
          <div class="masthead clearfix">
            <div class="inner">
              <h3 class="masthead-brand">Red Bridge</h3>
              <nav>
                <ul class="nav masthead-nav">
                  <li class="active"> <a href="#">Home</a></li>
                  <li><a href="/features">Features</a></li>
                  <li><a href="/contact">Contact</a></li>
                </ul>
              </nav>
            </div>
          </div>
          <div class="inner cover">
            <h1 class="cover-heading">Bridge Your Resources.</h1>
            <p class="lead">Red Bridge is a platform and bridge connecting between resources and disasters, help the responders to quatify and allocate their resources.</p>
            <p class="lead"></p><a href="/features" class="btn btn-lg btn-default">Get Started</a>
          </div>
          <div class="mastfoot">
            <div class="inner">
                <p>PowerBy <a href="https://www.ibm.com/cloud/">IBM Cloud and Watson API</a>, by <a href="https://twitter.com/kgao">@kgao </a>,<a href="https://twitter.com/jx2181">@jx2181</a>,<a href="https://twitter.com/fanymiles">@fanymiles</a>.</p> </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
    <!--script(src="js/jquery.min.js")-->
    <!--script(src="js/bootstrap.min.js")-->
  </body>
</html>